
body{
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Roboto', sans-serif; */
}
.header{
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.logo{
    fill:black;
    width: 200px;
    aspect-ratio: 1.5;
}
.container{
    padding: 0 14px;
    width: 1170px;
    margin: 0 auto;
}
.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-tab{
    flex-basis:620px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
}
.name-link{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 700;
    transition: .25s all ;
}
.name-link:hover{
    color: #8B008B;
}
main{
    margin-bottom: 120px;
}
.flex-block-task{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.task{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    aspect-ratio: 1;
    width: 387px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    transition: .25s all;
}
.task:hover{
    filter: invert();
    cursor: pointer;
}
.task a{
    text-decoration: none;
    width: 100%;
}
.task-text{
    text-align:center;
    line-height: 40px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    height: 80px;
    margin-bottom: 40px;
}
.task-goto{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}
footer{
    padding-top: 100px;
    padding-bottom: 123px;
    border-top: 1px solid black;
}
.name-tabfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}
/*task1 */


.header-items-task1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-link{
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 10px;
    transition: 0.3s;
}
.back-link:hover{
    filter: invert();
}
.task1-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px
}
.task1-data{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.task1-items {
    border: 1px solid black;
    padding: 100px 0;
}
.task1-input {
    border: 1px solid black;
}
.task1-button{
    padding: 30px 50px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}
.task1-button:hover{
    color: black;
    background-color: white;
}
/*.canvas{*/
/*    width: 500px;*/
/*    height: 500px;*/
/*}*/